body {
  margin: 0;
  border: 0;
  padding: 0;
  background: #100f0f;
  font-family: 'Roboto', sans-serif !important;
}

.navbar {
  background-color: rgb(15, 22, 40);
  opacity: 0.9;
}

.nav-link {
  color: rgb(248, 229, 229) !important;
  text-decoration: none;
  padding: 0 20px !important;
}

#navbarNav .nav-link {
  font-weight: bold;
}

.text-logo {
  font-size: 30px;
}

.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

/*header*/
.hero-section {
  background-size: cover;
  background-image: url("../images/header3.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  position: relative;
}

.texto-header {
  margin-top: 3rem;
  color: #f2ecec;
  text-align: center;
}

h2{
  margin-top: 10px;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  font-style: normal;
  font-size: 60px;
  text-shadow: 2px 2px 0px rgb(18, 76, 76), -2px -2px 0px aqua, 2px -2px 0px aqua, -2px 2px 0px aqua;
  margin-top: 50px;

 
}

/* section 1 (Sobre mi) */
#aboutMe {
  position: relative;
  border-radius: 50px;
  overflow: hidden; /* Asegura que el pseudo-elemento no sobresalga del contenedor */
  
}

#aboutMe * {
  position: relative;
  z-index: 2;
}

.section1 {
  width: 65vw;
  background-color: #161718;
  margin: auto;
  /* padding-bottom: 20px; */
  color: #d9cbcb;
  border: 1px solid #d5cccc;
  height: 530px;
}

.image-container {
  margin-top: -20px;
}

.paragraph {
  height: 650px; /* Ajusta la altura según sea necesario */
  overflow-y: scroll;
  color:rgb(244, 237, 237);
  font-size:15px !important;
}

h3 {
  color: #d5cccc;
  text-align: center;
  font-size: 45px;
}

h4 {
  color: black;
}

h5 {
  margin-top: 5px;
  color: #000;
}

ul.navbar-nav li.nav-item a.nav-link {
  font-weight: 300;
  color: #ffffff;
  font-size: 25px;
  position: relative;
  transition: transform 0.2s, box-shadow 0.2s;
}

ul.navbar-nav li.nav-item a.nav-link:hover {
  transform: translateY(-10px);
  box-shadow: 0px 35px 35px rgba(2, 2, 66, 0.6);
}

.columna1,
.columna2 {
  margin-top: 30px;
  text-align: justify;
  font-size: 20px;
}

/* footer */
footer {
  background-color: rgb(15, 22, 40);
  opacity: 0.8;
  margin-top: 100px;
  width: 100%;
}

/* Íconos redes sociales */
footer a {
  font-size: 2em;
  color: rgb(248, 229, 229);
}

footer a:hover {
  color: rgb(176, 243, 221);
}

/* proyectos */
.section3 {
  background: rgba(0, 0, 0, 0.6);
}

.card {
  margin: 40px auto;
  box-sizing: border-box;
  border-radius: 10px;
  height: 500px;
}

.card-title {
  font-weight: 700;
  color: black !important;
  text-align: center;
}

.card-body {
  text-align: justify;
}

.card-body_buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-body_btn {
  border-radius: 0px;
  background: #2e2c2c;
  color: #f2ecec;
}



.card {
  width: 100%;
}

span {
  margin-top: 20px;
}

.card-body_buttons {
  margin-top: 10px;
  flex-direction: column;
  gap: 15px;
}

.text-center {
  margin-top: 10px;
}

.card-body_buttons .btn {
  width: 100%;
}

.btn-custom {
  flex: 1 1 auto;
  min-width: 150px;
}

.card-body_buttons {
  display: flex;
  justify-content: space-between;
}

.card-body_buttons .btn {
  flex: 1;
  margin: 0 5px;
}


.list-group-item,
.card-text {
  color: #000000;
}

.badge-no-background {
  background-color: transparent !important;
  color: black !important;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.2em 0.5em;
}

p .card-text {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

img {
  width: 100%;
  height: 50%;
}

.no-decoration {
  text-decoration: none;
}

.no-decoration:hover,
.no-decoration:focus {
  text-decoration: none;
}

.whatsapp-icon {
  color: #ffffff;
  /* Color verde de WhatsApp */
}

.github-icon {
  color: #ffffff;
}

.linkedin-icon {
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

#juego {
  padding-top: 1px;
}

#juego-subtitulo {
  padding-bottom: 20px;
}

.game-area {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 350px;
  margin: 20px auto;
  background-color: #000;
  background-size: cover;
  border: 2px solid #000;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(28, 27, 27, 0.5), 0px 0px 150px rgba(8, 55, 227, 0.5);
}

.hole {
  position: absolute;
  width: 100px;
  height: 100px;
}

.mole {
  width: 55px;
  height: 55px;
  background: url('../images/conejito.png') no-repeat center center;
  background-size: cover;
  display: none;
  cursor: pointer;
}

.btn-jumping {
  font-size: 20px;
  font-weight: bold;
  padding: 15px 30px;
}

#puntuacion,
#score {
  color: #ffffff;
}

#juego-subtitulo{

  margin-top: 20px;
}


/* Media queries */
@media screen and (min-width: 576px) {
  .nav-link {
    border-right: 1px solid rgb(248, 229, 229);
  }

  .card {
    width: 48%;
  }

  .card-body_buttons {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .texto-header {
    margin-top: 3rem;
  }

  .card-body_btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .card-text {
    font-size: 1.2rem;
  }

  .card {
    height: 650px;
  }
}

@media (min-width: 768px) {
  h6 {
    font-size: 25px;
    color: #ffffff;
  }

  footer a {
    font-size: 45px;
  }
}

@media (min-width: 992px) {
  h1 {
    text-align: start;
    padding: 8em 0em 0em 0em;
  }

  .card {
    width: 30%;
  }
}

@media (min-width: 1380px) {
  #aboutMe .image-container {
    display: flex;
  }

  #aboutMe .paragraph {
    height: auto;
    overflow: visible;
  }
}

@media (min-width: 990px) and (max-width: 1379px) {
  #aboutMe .image-container {
    display: flex;
  }

  #aboutMe .paragraph {
    height: auto;
    overflow: visible;
  }
}

@media (max-width: 990px) {
  #aboutMe .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
  }

  #aboutMe .paragraph {
    height: 200px; /* Ajusta la altura según sea necesario */
    overflow-y: scroll;
  }
}


@media (max-width: 1126px) {
  .navbar-brand {
      font-size: 19px;
      margin-left: 12px; /* Ajusta el tamaño según tus necesidades */
  }
.toogler{
  margin-right: 25px;
 
}
  ul.navbar-nav li.nav-item a.nav-link {
    font-weight: 300;
    color: #ffffff;
    font-size: 19px;
    position: relative;
    transition: transform 0.2s, box-shadow 0.2s;
  }
}