body {
  margin: 0;
  border: 0;
  padding: 0;
  background: #050505;
  font-family: 'Roboto', sans-serif !important;
}


.navbar {
  background-color: rgb(15, 22, 40);
  opacity: 0.7;
}


.nav-link{
  color: rgb(248, 229, 229)!important;
  text-decoration: none;
  padding: 0 20px!important;
} 

@media screen and (min-width: 576px) {
  .nav-link {
      border-right: 1px solid rgb(248, 229, 229);
  }
}
/*Ícono hamburguesa*/

.img-custom-height {
  height: 200px; /* Ajusta este valor según tus necesidades */
  object-fit: cover; /* Asegura que la imagen mantenga su proporción */
  width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
}




.text-logo {
  font-size: 30px;
}

.container-fluid {
  padding-left: 50px;  /* Ajusta este valor según sea necesario */
  padding-right: 50px; /* Ajusta este valor según sea necesario */
}



/*header*/
.hero-section {
  background-size: cover;
  background-image: url("../images/header3.jpg"); /* Ruta relativa correcta */
  background-repeat: no-repeat;
  height: 100vh; /* Ajusta la altura según tu preferencia */
  background-position: center;
  position: relative;
}

.texto-header {
  margin-top: 3rem;
  color: #f2ecec;
  text-align: center;
}

@media (max-width: 768px) {
  .texto-header {
    margin-top: 3rem;
  }
}

.welcomeText {
  padding-top: 0;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  font-style: normal;
  font-size: 60px;
  text-shadow: 2px 2px 0px rgb(18, 76, 76), -2px -2px 0px aqua, 2px -2px 0px aqua, -2px 2px 0px aqua;
  padding-top:460px;
  padding-bottom: 0;
}

@media (min-width: 992px) {
  h1 {
    text-align: start;
    padding: 8em 0em 0em 0em;
  }
}


.img-custom-height {
  opacity:0.8;
  margin: 52px 50px;
  height: 400px; /* Ajusta este valor según tus necesidades */
  object-fit: cover; /* Asegura que la imagen mantenga su proporción */
  width: 80%; /* Asegura que la imagen ocupe todo el ancho disponible */
}


h3 {
  color: #d5cccc;
  text-align: center;
  font-size: 45px;

}

h4{
  color:black;
}

 h5{
  margin-top: 5px;
  color: #000;
 }

@media (min-width: 768px) {
  h6 {
    font-size: 25px;
    color: #ffffff;
  }
} 

/* 
card-title */

ul.navbar-nav li.nav-item a.nav-link {
  font-weight: 300;
  color: #ffffff;
  font-size: 30px;
  position: relative;
  transition: transform 0.2s, box-shadow 0.2s;
}

ul.navbar-nav li.nav-item a.nav-link:hover {
  transform: translateY(-10px);
  box-shadow: 0px 35px 35px rgba(2, 2, 66, 0.6);
}


.columna1,
.columna2 {
  margin-top: 30px;
  text-align: justify;
  font-size: 20px;
}


/* footer */
footer {
  background-color: rgb(15, 22, 40);
  opacity: 0.8;
  margin-top: 100px;
  width: 100%;
}

/* Íconos redes sociales */
footer a {
  font-size: 2em;
  color: rgb(248, 229, 229);
}

@media (min-width: 768px) {
  footer a {
    font-size: 45px;
  }
}

footer a:hover {
  color: rgb(176, 243, 221);
}


/* proyectos */


    /* seccion 3 (Proyectos) */

  .section3 {
      background: rgba(0, 0, 0, 0.6)
  } 

  .card{
      margin: 40px auto;
      box-sizing: border-box;
      border-radius: 10px;
      height: 500px; /
  }

  .card-title {
      font-weight:700;
      color: black!important;
      text-align: center;
  }

  .card-body {
      text-align: justify;
  }

  .card-body_buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }

  .card-body_btn {
      border-radius: 0px;
      background: #2e2c2c;
      color:#f2ecec;
  }

  .list-group-item, .card-text {
      color: #000000;
  }

  .badge-no-background {
    background-color: transparent !important;
    color: black !important; /* Asegúrate de que el texto siga siendo visible */
    border: 1px solid black; /* Añade un borde negro */
    border-radius: 5px; /* Ajusta el radio del borde según tus necesidades */
    padding: 0.2em 0.5em; /* Añade un poco de padding para mejorar la apariencia */
}


p .card-text{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
/* 

.card-body_buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
} */
/* 
.card-body_btn {
  border-radius: 10px;
} */

.list-group-item,
.card-text {
  color: #000000;
}


img {
  width: 100%;
  height: 50%;
}




.no-decoration {
  text-decoration: none;
}

.no-decoration:hover,
.no-decoration:focus {
  text-decoration: none;
}

.whatsapp-icon {
  color: #ffffff;
  /* Color verde de WhatsApp */
}

.github-icon {
  color: #ffffff;
}

.linkedin-icon {
  color: rgb(255, 255, 255);
}


a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

#juego{
  padding-top: 50px;
}

#juego-subtitulo{
padding-bottom: 20px;
}


.game-area {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 350px;
  margin: 20px auto;
  background-color: #000;
  background-size: cover;
  border: 2px solid #000;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(28, 27, 27, 0.5), 0px 0px 150px rgba(8, 55, 227, 0.5)
}

.hole {
  position: absolute;
  width: 100px;
  height: 100px;
}

.mole {
  width: 55px;
  height: 55px;
  background: url('../images/conejito.png') no-repeat center center;
  background-size: cover;
  display: none;
  cursor: pointer;
}

.btn-jumping {
  
  font-size: 20px;
  font-weight: bold;
  padding: 15px 30px;
}
#puntuacion, #score{
  color:#ffffff;
}


/*Media queries*/





/* chat */

/* Responsive styles for cards */

/* General styles */
.card {
  width: 100%;
}

@media (min-width: 576px) {
  .card {
    width: 48%;
  }
}

@media (min-width: 768px) {
  .card {
    width: 30%;
  }
}

@media (min-width: 992px) {
  .card {
    width: 30%;
  }
}
span{
  margin-top: 20px;;
}
.card-body_buttons {
  margin-top: 10px;
  flex-direction: column;
  gap: 15px;
}
.text-center{
  margin-top: 10px;;
}
.card-body_buttons .btn {
  width: 100%;
}

@media (min-width: 576px) {
  .card-body_buttons {
    flex-direction: row;
  }
}

 .btn-custom {
  flex: 1 1 auto;
  min-width: 150px; /* Ajusta el tamaño mínimo según tus necesidades */
}
.card-body_buttons {
  display: flex;
  justify-content: space-between;
}
.card-body_buttons .btn {
  flex: 1;
  margin: 0 5px;
}